body,
body[theme-mode='default'] .semi-always-light {
  /* --semi-color-nav-bg: #ede3e7; */
}

.semi-card-body {
  padding: 10px;
}

.semi-tabs-content {
  padding: 0;
}

.semi-button {
  font-size: 12px;
}

/* 修复spin 动画元素没有居中问题 */
.semi-spin-block .semi-spin-wrapper {
  display: flex;
  justify-content: center;
}

.semi-table-tbody > .semi-table-row > .semi-table-row-cell {
  padding: 12px;
}
